h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    color: #333;
}

.hangulLabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20rem;
    color: #333;
    background-color: whitesmoke;
}